/* Body font */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.container {
    background-color: blanchedalmond;
    border-style: double;
}

ul li {
    list-style: none;
    
}

ul li a {
    
    text-decoration: none;
}

.description {

    font-weight: bolder;
    font-style: italic;
}

#website-header {

    font-family: cursive;
    color: darkgreen;
    text-decoration: underline;
}